<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.cjsolsen.wireguard-control</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>63E6ED14-603A-4896-A2F5-459B6EA6A7AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>661B2258-0E04-428F-8393-E8EBF6A096C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>661B2258-0E04-428F-8393-E8EBF6A096C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1EE8D950-821D-49FA-9FD5-7B94DD45056F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A223DE44-0855-4BF8-8A0E-021475E7FFF9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E6ED14-603A-4896-A2F5-459B6EA6A7AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Christian Olsen</string>
	<key>description</key>
	<string>Toggle WireGuard VPN connections</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WireGuard Control</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>wguard</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>bash </string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>vpnlist.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>WireGuard VPN</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A223DE44-0855-4BF8-8A0E-021475E7FFF9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>bash togglevpn.sh {query}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>togglevpn.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>661B2258-0E04-428F-8393-E8EBF6A096C5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>WireGuard VPN</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1EE8D950-821D-49FA-9FD5-7B94DD45056F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>{"items":[{"title":"No VPN's found!","arg":"NoVPNs"}]}</string>
						<key>outputlabel</key>
						<string>No VPN</string>
						<key>uid</key>
						<string>A8E3390B-E907-4540-B897-C2B54A6E908E</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>VPN found</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>63E6ED14-603A-4896-A2F5-459B6EA6A7AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>WireGuard Control enables the user to toggle predefined Wire Guard VPN tunnels, using the keyword wguard.</string>
	<key>uidata</key>
	<dict>
		<key>1EE8D950-821D-49FA-9FD5-7B94DD45056F</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>63E6ED14-603A-4896-A2F5-459B6EA6A7AD</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>661B2258-0E04-428F-8393-E8EBF6A096C5</key>
		<dict>
			<key>xpos</key>
			<real>465</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>A223DE44-0855-4BF8-8A0E-021475E7FFF9</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.3</string>
	<key>webaddress</key>
	<string>https://www.github.com/chrede88/alfred-wireguard</string>
</dict>
</plist>
